{% extends "base.html"%}

{% block body%}
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="card px-3">
          <div class="card-body text-right">
            <h4 class="card-title">قائمة مهامك الرئيسية</h4>
            	<form method="POST"> <!-- post to send data -->
            		{% csrf_token %}
	              <div class="add-items d-flex">
	                <input type="text" name="title" value="{{update_form.title.value}}" class="form-control todo-list-input" placeholder="ما هي مهامك اليوم ؟">
	                <button type="submit"
	                  class="add btn btn-primary font-weight-bold todo-list-add-btn padding-box ">إضافة</button> 
	              </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body%}